.ParallaxSection{

   .Image{
       .imageContainer{
            img{
                width: 100%;
                margin: 0 ;
            }

            span{
                margin: 5px 5px 50px 0;
                display: inline-block;
                text-align: right;
                width: 100%;
            }
       }
   } 
}