
 // Typography


 $FontFamilyHeader:"Guardian Headline Regular";
 $FontFamilyHeaderBold:"Guardian Headline Bold";
 $FontFamilyBody:"TS3 Text Sans";
  
$FontLargeSize:2.8em;
$FontLargeLine:1.1em;
$FontLargeWeight:100;

$FontMedSize:2em;
$FontMedLine:1.1em;
$FontMedWeight:100;

$FontSmallSize:1em;
$FontSmallLine:1.6em;
$FontSmallWeight:100; 