// Base Colors
$PrimaryColor:#141414;
$SecondaryColor:#000; 
$TertiaryColor:#69D1CA; 
$Quaternary:#fff; 

 

// Type Colors
$PrimaryHColor:$SecondaryColor;
$SecondaryHColor:$Quaternary;
$TertiaryHColor:$PrimaryColor; 

$PrimaryPColor:$SecondaryColor;
$SecondaryPColor:$Quaternary;
$TertiaryPColor:$PrimaryColor; 